@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital");

:root {
    --box-shadow: rgba(124, 150, 145, 0.757) 0px 3px 8px;
    --shadow-Color: rgb(48, 40, 40);
    --text-Color: white;
    --original:#F5F7FA; /* Original color for outer-wrap but I just change it for fun */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

h3 {
    text-align: center;
    margin-bottom: 15px;
    text-decoration: underline solid #393E46;
    font-size: 23px;
}

/*********************** Outer-wrap ***********************/
.outer-wrap {
    width: 100%;
    min-height: 100vh;
    background-color: var(--shadow-Color); 
    padding: 30px;
}

/*********************** Inner-wrap ***********************/
.inner-wrap {
    max-width: 1200px;
    margin: auto;    
}

/*********************** Heading ***********************/
.heading {
    /*margin: 10px auto 40px auto;*/
    margin: 30px auto;
    padding: 0px 20px;
}

.heading .title {
    font-size: 30px;
    color: var(--text-Color);
    font-weight: 500;
    text-align: center;
}

.heading .subtitle {
    font-size: 20px;
    color: var(--text-Color);
    font-weight: 300;
    text-align: center;
}

/*********************** Transaction Control ***********************/
.transaction-control {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Les element vont s'imbriquer l'un sur l'autre */
    gap: 10px;
    margin: 30px auto; /* 30px : pour haut & bas | auto : gauche & droite */
}

.actions, .stats {
    flex-grow: 1;
    background-color: var(--text-Color);
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    margin: 0px 10px;
}

/*********** actions ***********/
    .actions .add {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

.actions .add input {
    font-size: 18px;
    padding: 5px;
    margin: 10px;
}

.actions .add input[type="submit"] {
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
    background-color: #2666CF;
    color: var(--text-Color);
    box-shadow: var(--box-shadow);
} 
.actions .add input[type="submit"]:hover {
    background-color: #1149a4;
    cursor: pointer;
}
/*********** stats ***********/
.stats p {
    background-color: #bed7ff;
    margin: 20px 10px;
    padding: 10px 20px;
    box-shadow: var(--box-shadow);
    font-size: 18px;
    border-radius: 2px;
    text-align: center;
}

.stats p.balance {
    background-color: #fff2dd92;
    border-right: 10px solid #f4b240;
}

.stats p.income {
    background-color: #e7fff1ad;
    border-right: 10px solid #32a171;
}

.stats p.expense {
    background-color: #ffeef0bb;
    border-right: 10px solid #0b65f7;
}

.stats p span {
    font-size: 18px;
}

/*********************** Transaction History ***********************/
.transaction-history {
    margin: 40px 10px;
    background-color: var(--text-Color);
    border-radius: 10px;
    padding: 30px 0px;
    box-shadow: var(--box-shadow);
}

.records {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

.records div {
    flex-grow: 1;
    padding: 10px;
}

.records li {
    display: flex;
    justify-content: space-between;
    background-color: #d4dddf92;
    padding: 10px;
    margin: 12px 0px;
    min-width: 250px;
    box-shadow: var(--box-shadow);
}

.records .income li {
    border-left: 10px solid #2666CF;
}

.records .expense li {
    border-left: 10px solid #2666CF;
}

.records li p:first-child {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.records span {
    font-size: 18px;
}

.records span#time {
    color: #32a171;
    font-size: 12px;
}

.records i.delete {
    margin-left: 10px;
    color: #082032;
    cursor: pointer;
    font-size: 19px;
}

.records i.delete:hover {
    margin-left: 10px;
    color: #B42B51;
    cursor: pointer;
}
